<div class="container">
    <div class="num-temas d-flex justify-content-end bg-danger">
        <p>1</p>
        <p>2</p>
        <p>3</p>        
    </div>
    <div class="titulo d-flex justify-content-between ">
        <h3>calc</h3>
        <div class="tema d-flex row ">
            <div class ="d-flex  pt-1">
                <p>Theme</p>
                <div class="box pt-1 ps-1">
                    <div id="circulo"></div>
                </div>
            </div>  
        </div>
    </div>
</div>